.green {
  background-color: #136F63;
}

.redCards {
  color: #F34213;
}

.menuArea {
  text-align: center;
  background-color: #3E2F5B;
  color: white;

}

.buttons {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #1090FF;
  border-color: black;
  width: 80px;
}

.textbox {
  background-color: black;
  color: white;
  border-radius: 0.25em;
  padding-left: 2%;
  padding-right: 2%;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.totalTopMargin {
  margin-top : 2%;
}
